.App{
    text-align: center;
}
.list-item{
    margin: 10px;
}
li + button , button{
    
    cursor: pointer;
}
li + button{
    color: white;
    background-color: red;
}

li{
    display: inline;
    list-style: none;
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    width: 20vw;
    padding: 5px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}